<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWebMeditiConector_V1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.1.12.62:81/WebConnectorApp/WebMeditiConector.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebMeditiConector_V1"
          contract="IWebMeditiConector_V1" name="BasicHttpBinding_IWebMeditiConector_V1" />
    </client>
  </system.serviceModel>
</configuration>